<phpunit colors="true" bootstrap="bootstrap.php">
	<testsuite name="Library Tests">
        <directory>library</directory>
	</testsuite>
    <filter>
        <blacklist>
            <directory suffix=".php">../library/Smarty</directory>
            <directory suffix=".php">../library/test</directory>
        </blacklist>
    </filter>
</phpunit>
